<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.generated.businessreport.dao.BusinessReportMapper">

	<resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.generated.businessreport.dao.data.BusinessReportDO">
		<id column="id" property="id"/>
		<result column="type" property="type"/>
		<result column="name" property="name"/>
		<result column="ip" property="ip"/>
		<result column="productLine" property="productLine"/>
		<result column="period" property="period"/>
		<result column="content" property="content"/>
		<result column="creation_date" property="creationDate"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		type,
		name,
		ip,
		productLine,
		period,
		content,
		creation_date
	</sql>

	<insert id="insert" parameterType="com.dianping.cat.core.mybatis.generated.businessreport.dao.data.BusinessReportDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO businessReport
			(type, name, ip, productLine, period, content, creation_date)
		VALUES
			(#{type}, #{name}, #{ip}, #{productLine}, #{period}, #{content}, #{creationDate})
	</insert>

	<select id="findByPrimaryKey" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM businessReport
		WHERE id = #{id}
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM businessReport
	</select>

	<delete id="deleteByPrimaryKey">
		DELETE FROM businessReport
		WHERE id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.generated.businessreport.dao.data.BusinessReportDO">
		UPDATE businessReport
		SET type = #{type},
			name = #{name},
			ip = #{ip},
			productLine = #{productLine},
			period = #{period},
			content = #{content},
			creation_date = #{creationDate}
		WHERE id = #{id}
	</update>
</mapper>
