<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.business.config.dao.BusinessConfigMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.business.config.dao.data.BusinessConfigDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="domain" property="domain"/>
        <result column="content" property="content"/>
        <result column="updatetime" property="updatetime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        name ,
        domain ,
        content ,
        updatetime
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="name != null">name = #{name} ,</if>
            <if test="domain != null">domain = #{domain} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="updatetime != null">updatetime = #{updatetime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.business.config.dao.data.BusinessConfigDO" keyProperty="id">
        INSERT INTO business_config
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from business_config where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from business_config
    </select>

    <delete id="deleteByPrimaryKey">
        delete from business_config where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.business.config.dao.data.BusinessConfigDO">
        UPDATE business_config
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findByNameDomain" resultMap="BaseResultMap">
        select id, name, domain, content, updatetime from business_config where name = #{record.name} and domain = #{record.domain}
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        select id, name, domain, content, updatetime from business_config where name = #{record.name}
    </select>

    <update id="updateBaseConfigByDomain">
        UPDATE business_config SET content=#{record.content}, updatetime=NOW() where domain = #{record.domain} and name = #{record.name}
    </update>

</mapper>