<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.businessreport.dao.BusinessReportMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.businessreport.dao.data.BusinessReportDO">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="ip" property="ip"/>
        <result column="productLine" property="productLine"/>
        <result column="period" property="period"/>
        <result column="content" property="content"/>
        <result column="creation_date" property="creationDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        type ,
        name ,
        ip ,
        productLine ,
        period ,
        content ,
        creation_date
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="type != null">type = #{type} ,</if>
            <if test="name != null">name = #{name} ,</if>
            <if test="ip != null">ip = #{ip} ,</if>
            <if test="productLine != null">productLine = #{productLine} ,</if>
            <if test="period != null">period = #{period} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="creationDate != null">creation_date = #{creationDate}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.businessreport.dao.data.BusinessReportDO" keyProperty="id">
        INSERT INTO businessReport
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from businessReport where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from businessReport
    </select>

    <delete id="deleteByPrimaryKey">
        delete from businessReport where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.businessreport.dao.data.BusinessReportDO">
        UPDATE businessReport
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

</mapper>