<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.config.dao.ConfigMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.config.dao.data.ConfigDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        name ,
        content ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="name != null">name = #{name} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.config.dao.data.ConfigDO" keyProperty="id">
        INSERT INTO t_config
        <include refid="setField"/>
    </insert>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_config where id = #{id}
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_config
        where name = #{name}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_config
    </select>

    <delete id="deleteById">
        delete from t_config where id = #{id}
    </delete>

    <update id="updateById" parameterType="com.dianping.cat.core.config.dao.data.ConfigDO">
        UPDATE t_config
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

</mapper>
