<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.hostinfo.dao.HostinfoMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.hostinfo.dao.data.HostinfoDO">
        <result column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="domain" property="domain"/>
        <result column="hostname" property="hostname"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        ip ,
        domain ,
        hostname ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="ip != null">ip = #{ip} ,</if>
            <if test="domain != null">domain = #{domain} ,</if>
            <if test="hostname != null">hostname = #{hostname} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.hostinfo.dao.data.HostinfoDO" keyProperty="id">
        INSERT INTO t_host_info
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_host_info where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_host_info
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_host_info where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.hostinfo.dao.data.HostinfoDO">
        UPDATE t_host_info
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findByIp" resultMap="BaseResultMap">
        select id, ip, domain, hostname, create_time, update_time from t_host_info where ip = #{record.ip}
    </select>

    <select id="findAllIp" resultMap="BaseResultMap">
        select id, ip, domain, hostname, create_time, update_time from t_host_info
    </select>

</mapper>
