<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.mapper.HourlyReportMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.data.HourlyReportDO">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="ip" property="ip"/>
        <result column="domain" property="domain"/>
        <result column="period" property="period"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        type ,
        name ,
        ip ,
        domain ,
        period ,
        create_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="type != null">type = #{type} ,</if>
            <if test="name != null">name = #{name} ,</if>
            <if test="ip != null">ip = #{ip} ,</if>
            <if test="domain != null">domain = #{domain} ,</if>
            <if test="period != null">period = #{period} ,</if>
            <if test="createTime != null">create_time = #{createTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.data.HourlyReportDO" keyProperty="id">
        INSERT INTO t_hourly_report
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_hourly_report where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_hourly_report
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_hourly_report where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.data.HourlyReportDO">
        UPDATE t_hourly_report
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findAllByDomainNamePeriod" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_hourly_report
        where period = #{record.period}
        and domain = #{record.domain}
        and name = #{record.name}
        and binary(domain) = binary(#{record.domain})
    </select>

    <select id="findAllByPeriodName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_hourly_report
        where period = #{record.period}
        and name = #{record.name}
    </select>

</mapper>
