<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.hourly.report.content.dao.HourlyReportContentMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.hourly.report.content.dao.data.HourlyReportContentDO">
        <result column="report_id" property="reportId"/>
        <result column="content" property="content"/>
        <result column="period" property="period"/>
        <result column="creation_date" property="creationDate"/>
        <result column="content_length" property="contentLength"/>
    </resultMap>

    <sql id="Base_Column_List">
        report_id ,
        content ,
        period ,
        creation_date
    </sql>

    <sql id="setField">
        <set>
            <if test="reportId != null">report_id = #{reportId} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="period != null">period = #{period} ,</if>
            <if test="creationDate != null">creation_date = #{creationDate}</if>
        </set>
    </sql>

    <insert id="insert" parameterType="com.dianping.cat.core.mybatis.hourly.report.content.dao.data.HourlyReportContentDO">
        INSERT INTO hourly_report_content
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hourly_report_content where report_id = #{reportId}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hourly_report_content
    </select>

    <delete id="deleteByPrimaryKey">
        delete from hourly_report_content where report_id = #{reportId}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.hourly.report.content.dao.data.HourlyReportContentDO">
        UPDATE hourly_report_content
        <include refid="setField"/>
        WHERE report_id = #{reportId}
    </update>

    <select id="findOverloadReport" resultMap="BaseResultMap">
        select report_id, content, period, creation_date, length(content)/1024/1024 AS content_length from hourly_report_content where report_id > #{record.startId} order by report_id asc limit 1000
    </select>

</mapper>