<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.mybatis.mapper.MonthlyReportContentMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.mybatis.data.MonthlyReportContentDO">
        <result column="report_id" property="reportId"/>
        <result column="content" property="content"/>
        <result column="period" property="period"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="content_length" property="contentLength"/>
    </resultMap>

    <sql id="Base_Column_List">
        report_id ,
        content ,
        period ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="reportId != null">report_id = #{reportId} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="period != null">period = #{period} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" parameterType="com.dianping.cat.mybatis.data.MonthlyReportContentDO">
        INSERT INTO t_monthly_report_content
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_monthly_report_content where report_id = #{reportId}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_monthly_report_content
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_monthly_report_content where report_id = #{reportId}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.mybatis.data.MonthlyReportContentDO">
        UPDATE t_monthly_report_content
        <include refid="setField"/>
        WHERE report_id = #{reportId}
    </update>

    <select id="findOverloadReport" resultMap="BaseResultMap">
        select report_id, content, period, create_time, update_time, length(content)/1024/1024 AS content_length from t_monthly_report_content where report_id > #{record.startId} order by report_id asc limit 1000
    </select>

</mapper>
