<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.mapper.OperationMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.data.OperationDO">
        <result column="id" property="id"/>
        <result column="user" property="user"/>
        <result column="module" property="module"/>
        <result column="operation" property="operation"/>
        <result column="operation_time" property="operationTime"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        `user` ,
        module ,
        operation ,
        operation_time ,
        content ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="user != null">`user` = #{user} ,</if>
            <if test="module != null">module = #{module} ,</if>
            <if test="operation != null">operation = #{operation} ,</if>
            <if test="operationTime != null">operation_time = #{operationTime} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.data.OperationDO" keyProperty="id">
        INSERT INTO t_operation
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_operation where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_operation
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_operation where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.data.OperationDO">
        UPDATE t_operation
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

</mapper>
