<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.generated.operation.dao.OperationMapper">

	<resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.generated.operation.dao.data.OperationDO">
		<id column="id" property="id"/>
		<result column="user" property="user"/>
		<result column="module" property="module"/>
		<result column="operation" property="operation"/>
		<result column="time" property="time"/>
		<result column="content" property="content"/>
		<result column="creation_date" property="creationDate"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		user,
		module,
		operation,
		time,
		content,
		creation_date
	</sql>

	<insert id="insert" parameterType="com.dianping.cat.core.mybatis.generated.operation.dao.data.OperationDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO operation
			(user, module, operation, time, content, creation_date)
		VALUES
			(#{user}, #{module}, #{operation}, #{time}, #{content}, #{creationDate})
	</insert>

	<select id="findByPrimaryKey" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM operation
		WHERE id = #{id}
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM operation
	</select>

	<delete id="deleteByPrimaryKey">
		DELETE FROM operation
		WHERE id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.generated.operation.dao.data.OperationDO">
		UPDATE operation
		SET user = #{user},
			module = #{module},
			operation = #{operation},
			time = #{time},
			content = #{content},
			creation_date = #{creationDate}
		WHERE id = #{id}
	</update>
</mapper>
