<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.operation.dao.OperationMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.operation.dao.data.OperationDO">
        <result column="id" property="id"/>
        <result column="user" property="user"/>
        <result column="module" property="module"/>
        <result column="operation" property="operation"/>
        <result column="time" property="time"/>
        <result column="content" property="content"/>
        <result column="creation_date" property="creationDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        user ,
        module ,
        operation ,
        time ,
        content ,
        creation_date
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="user != null">user = #{user} ,</if>
            <if test="module != null">module = #{module} ,</if>
            <if test="operation != null">operation = #{operation} ,</if>
            <if test="time != null">time = #{time} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="creationDate != null">creation_date = #{creationDate}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.operation.dao.data.OperationDO" keyProperty="id">
        INSERT INTO operation
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from operation where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from operation
    </select>

    <delete id="deleteByPrimaryKey">
        delete from operation where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.operation.dao.data.OperationDO">
        UPDATE operation
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

</mapper>