<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.mybatis.mapper.OverloadMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.mybatis.data.OverloadDO">
        <result column="id" property="id"/>
        <result column="report_id" property="reportId"/>
        <result column="report_type" property="reportType"/>
        <result column="report_size" property="reportSize"/>
        <result column="period" property="period"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="max_id" property="maxId"/>
        <result column="count" property="count"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        report_id ,
        report_type ,
        report_size ,
        period ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="reportId != null">report_id = #{reportId} ,</if>
            <if test="reportType != null">report_type = #{reportType} ,</if>
            <if test="reportSize != null">report_size = #{reportSize} ,</if>
            <if test="period != null">period = #{period} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.mybatis.data.OverloadDO" keyProperty="id">
        INSERT INTO t_overload
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_overload where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_overload
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_overload where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.mybatis.data.OverloadDO">
        UPDATE t_overload
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findMaxIdByType" resultMap="BaseResultMap">
        select max(report_id) AS max_id, count(*) AS count from t_overload where report_type = #{record.type}
    </select>

    <select id="findCount" resultMap="BaseResultMap">
        select max(report_id) AS max_id, count(*) AS count from t_overload
    </select>

    <select id="findIdAndSizeByDuration" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_overload where period >= #{record.startTime} and period &lt;= #{record.endTime} order by period DESC, report_type ASC
    </select>

</mapper>
