<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.mapper.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.data.ProjectDO">
        <result column="id" property="id"/>
        <result column="domain" property="domain"/>
        <result column="cmdb_domain" property="cmdbDomain"/>
        <result column="level" property="level"/>
        <result column="bu" property="bu"/>
        <result column="cmdb_product_line" property="cmdbProductline"/>
        <result column="owner" property="owner"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        domain ,
        cmdb_domain ,
        level ,
        bu ,
        cmdb_product_line ,
        owner ,
        email ,
        phone ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="domain != null">domain = #{domain} ,</if>
            <if test="cmdbDomain != null">cmdb_domain = #{cmdbDomain} ,</if>
            <if test="level != null">level = #{level} ,</if>
            <if test="bu != null">bu = #{bu} ,</if>
            <if test="cmdbProductline != null">cmdb_product_line = #{cmdbProductline} ,</if>
            <if test="owner != null">owner = #{owner} ,</if>
            <if test="email != null">email = #{email} ,</if>
            <if test="phone != null">phone = #{phone} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.data.ProjectDO" keyProperty="id">
        INSERT INTO t_project
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_project where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_project
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_project where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.data.ProjectDO">
        UPDATE t_project
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        select id, domain, cmdb_domain, level, bu, cmdb_product_line, owner, email, phone, create_time, update_time from t_project
    </select>

    <select id="findByDomain" resultMap="BaseResultMap">
        select id, domain, cmdb_domain, level, bu, cmdb_product_line, owner, email, phone, create_time, update_time from t_project where binary(domain) = binary(#{record.domain})
    </select>

    <select id="findByCmdbDomain" resultMap="BaseResultMap">
        select id, domain, cmdb_domain, level, bu, cmdb_product_line, owner, email, phone, create_time, update_time from t_project where binary(cmdb_domain) = binary(#{record.domain})
    </select>

</mapper>
