<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.mybatis.mapper.TaskMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.mybatis.data.TaskDO">
        <result column="id" property="id"/>
        <result column="producer" property="producer"/>
        <result column="consumer" property="consumer"/>
        <result column="failure_count" property="failureCount"/>
        <result column="report_name" property="reportName"/>
        <result column="report_domain" property="reportDomain"/>
        <result column="report_period" property="reportPeriod"/>
        <result column="status" property="status"/>
        <result column="task_type" property="taskType"/>
        <result column="create_time" property="createTime"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="count" property="count"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        producer ,
        consumer ,
        failure_count ,
        report_name ,
        report_domain ,
        report_period ,
        status ,
        task_type ,
        create_time ,
        start_time ,
        end_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="producer != null">producer = #{producer} ,</if>
            <if test="consumer != null">consumer = #{consumer} ,</if>
            <if test="failureCount != null">failure_count = #{failureCount} ,</if>
            <if test="reportName != null">report_name = #{reportName} ,</if>
            <if test="reportDomain != null">report_domain = #{reportDomain} ,</if>
            <if test="reportPeriod != null">report_period = #{reportPeriod} ,</if>
            <if test="status != null">status = #{status} ,</if>
            <if test="taskType != null">task_type = #{taskType} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="startTime != null">start_time = #{startTime} ,</if>
            <if test="endTime != null">end_time = #{endTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.mybatis.data.TaskDO" keyProperty="id">
        INSERT INTO t_task
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_task where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_task
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_task where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.mybatis.data.TaskDO">
        UPDATE t_task
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findByStatusConsumer" resultMap="BaseResultMap">
        select id, producer, consumer, failure_count, report_name, report_domain, report_period, status, task_type, create_time, start_time, end_time, update_time, COUNT(*) AS count from t_task where status = #{record.status} <if test="record.consumer != null"> and consumer = #{record.consumer} </if> limit 1
    </select>

    <update id="updateTodoToDoing">
        UPDATE t_task SET consumer=#{record.consumer}, status=2, start_time=#{record.startTime} where status = 1 and id = #{record.id}
    </update>

    <update id="updateDoingToDone">
        UPDATE t_task SET status=3, end_time=#{record.endTime} where status = 2 and id = #{record.id}
    </update>

    <update id="updateFailureToDone">
        UPDATE t_task SET status=3, end_time=#{record.endTime} where status =4 and id = #{record.id}
    </update>

    <update id="updateStatusToTodo">
        UPDATE t_task SET status=1 where id = #{record.id}
    </update>

    <update id="updateDoingToFail">
        UPDATE t_task SET status=4, end_time=#{record.endTime}, failure_count = failure_count + 1 where status = 2 and id = #{record.id}
    </update>

</mapper>
