<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.alert.summary.dao.AlertSummaryMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.alert.summary.dao.data.AlertSummaryDO">
        <result column="id" property="id"/>
        <result column="domain" property="domain"/>
        <result column="alert_time" property="alertTime"/>
        <result column="content" property="content"/>
        <result column="creation_date" property="creationDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        domain ,
        alert_time ,
        content ,
        creation_date
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="domain != null">domain = #{domain} ,</if>
            <if test="alertTime != null">alert_time = #{alertTime} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="creationDate != null">creation_date = #{creationDate}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.alert.summary.dao.data.AlertSummaryDO" keyProperty="id">
        INSERT INTO alert_summary
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from alert_summary where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from alert_summary
    </select>

    <delete id="deleteByPrimaryKey">
        delete from alert_summary where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.alert.summary.dao.data.AlertSummaryDO">
        UPDATE alert_summary
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

</mapper>