<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.generated.alteration.dao.AlterationMapper">

	<resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.generated.alteration.dao.data.AlterationDO">
		<id column="id" property="id"/>
		<result column="type" property="type"/>
		<result column="title" property="title"/>
		<result column="domain" property="domain"/>
		<result column="hostname" property="hostname"/>
		<result column="ip" property="ip"/>
		<result column="date" property="date"/>
		<result column="user" property="user"/>
		<result column="alt_group" property="altGroup"/>
		<result column="content" property="content"/>
		<result column="url" property="url"/>
		<result column="status" property="status"/>
		<result column="creation_date" property="creationDate"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		type,
		title,
		domain,
		hostname,
		ip,
		date,
		user,
		alt_group,
		content,
		url,
		status,
		creation_date
	</sql>

	<insert id="insert" parameterType="com.dianping.cat.core.mybatis.generated.alteration.dao.data.AlterationDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO alteration
			(type, title, domain, hostname, ip, date, user, alt_group, content, url, status, creation_date)
		VALUES
			(#{type}, #{title}, #{domain}, #{hostname}, #{ip}, #{date}, #{user}, #{altGroup}, #{content}, #{url}, #{status}, #{creationDate})
	</insert>

	<select id="findByPrimaryKey" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM alteration
		WHERE id = #{id}
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM alteration
	</select>

	<delete id="deleteByPrimaryKey">
		DELETE FROM alteration
		WHERE id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.generated.alteration.dao.data.AlterationDO">
		UPDATE alteration
		SET type = #{type},
			title = #{title},
			domain = #{domain},
			hostname = #{hostname},
			ip = #{ip},
			date = #{date},
			user = #{user},
			alt_group = #{altGroup},
			content = #{content},
			url = #{url},
			status = #{status},
			creation_date = #{creationDate}
		WHERE id = #{id}
	</update>

	<select id="findByTypeDruation" resultMap="BaseResultMap">
		SELECT id, type, title, domain, hostname, ip, date, user, alt_group, content, url, status, creation_date FROM alteration WHERE date >= #{record.startTime} AND date <= #{record.endTime} <if test="record.type != null"> AND type = #{record.type} </if> ORDER BY date desc
	</select>

	<select id="findByDtdh" resultMap="BaseResultMap">
		SELECT id, type, title, domain, hostname, ip, date, user, alt_group, content, url, status, creation_date FROM alteration WHERE date >= #{record.startTime} AND date <= #{record.endTime} <if test="record.type != null"> AND type = #{record.type} </if> <if test="record.domain != null"> AND domain = #{record.domain} </if> <if test="record.hostname != null"> AND hostname = #{record.hostname} </if> ORDER BY date desc
	</select>

	<select id="findByDtdhTypes" resultMap="BaseResultMap">
		SELECT id, type, title, domain, hostname, ip, date, user, alt_group, content, url, status, creation_date FROM alteration WHERE date >= #{record.startTime} AND date <= #{record.endTime} <if test="record.type != null"> AND type = #{record.type} </if> <if test="record.domain != null"> AND domain = #{record.domain} </if> <if test="record.hostname != null"> AND hostname = #{record.hostname} </if> AND type in <foreach collection="record.types" item="item" open="(" close=")" separator=",">#{item}</foreach> ORDER BY date desc
	</select>

	<select id="findByDomainAndTime" resultMap="BaseResultMap">
		SELECT id, type, title, domain, hostname, ip, date, user, alt_group, content, url, status, creation_date FROM alteration WHERE date >= #{record.startTime} AND date <= #{record.endTime} <if test="record.domain != null"> AND domain = #{record.domain} </if> ORDER BY date desc
	</select>
</mapper>
