<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.mybatis.mapper.BaselineMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.mybatis.data.BaselineDO">
        <result column="id" property="id"/>
        <result column="report_name" property="reportName"/>
        <result column="index_key" property="indexKey"/>
        <result column="report_period" property="reportPeriod"/>
        <result column="data" property="data"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        report_name ,
        index_key ,
        report_period ,
        data ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="reportName != null">report_name = #{reportName} ,</if>
            <if test="indexKey != null">index_key = #{indexKey} ,</if>
            <if test="reportPeriod != null">report_period = #{reportPeriod} ,</if>
            <if test="data != null">data = #{data} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.mybatis.data.BaselineDO" keyProperty="id">
        INSERT INTO t_baseline
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_baseline where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_baseline
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_baseline where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.mybatis.data.BaselineDO">
        UPDATE t_baseline
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findByReportNameKeyTime" resultMap="BaseResultMap">
        select id, report_name, index_key, report_period, data, create_time, update_time from t_baseline where report_period = #{record.reportPeriod} and report_name = #{record.reportName} and index_key = #{record.indexKey}
    </select>

</mapper>
