<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.mybatis.mapper.ConfigModificationMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.mybatis.data.ConfigModificationDO">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="account_name" property="accountName"/>
        <result column="action_name" property="actionName"/>
        <result column="argument" property="argument"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        user_name ,
        account_name ,
        action_name ,
        argument ,
        modify_time ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="userName != null">user_name = #{userName} ,</if>
            <if test="accountName != null">account_name = #{accountName} ,</if>
            <if test="actionName != null">action_name = #{actionName} ,</if>
            <if test="argument != null">argument = #{argument} ,</if>
            <if test="modifyTime != null">modify_time = #{modifyTime} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.mybatis.data.ConfigModificationDO" keyProperty="id">
        INSERT INTO t_config_modification
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_config_modification where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_config_modification
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_config_modification where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.mybatis.data.ConfigModificationDO">
        UPDATE t_config_modification
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

</mapper>
