<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.generated.config.modification.dao.ConfigModificationMapper">

	<resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.generated.config.modification.dao.data.ConfigModificationDO">
		<id column="id" property="id"/>
		<result column="user_name" property="userName"/>
		<result column="account_name" property="accountName"/>
		<result column="action_name" property="actionName"/>
		<result column="argument" property="argument"/>
		<result column="date" property="date"/>
		<result column="creation_date" property="creationDate"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		user_name,
		account_name,
		action_name,
		argument,
		date,
		creation_date
	</sql>

	<insert id="insert" parameterType="com.dianping.cat.core.mybatis.generated.config.modification.dao.data.ConfigModificationDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO config_modification
			(user_name, account_name, action_name, argument, date, creation_date)
		VALUES
			(#{userName}, #{accountName}, #{actionName}, #{argument}, #{date}, #{creationDate})
	</insert>

	<select id="findByPrimaryKey" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM config_modification
		WHERE id = #{id}
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM config_modification
	</select>

	<delete id="deleteByPrimaryKey">
		DELETE FROM config_modification
		WHERE id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.generated.config.modification.dao.data.ConfigModificationDO">
		UPDATE config_modification
		SET user_name = #{userName},
			account_name = #{accountName},
			action_name = #{actionName},
			argument = #{argument},
			date = #{date},
			creation_date = #{creationDate}
		WHERE id = #{id}
	</update>
</mapper>
