<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.mybatis.mapper.MetricScreenMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.mybatis.data.MetricScreenDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="graph_name" property="graphName"/>
        <result column="view" property="view"/>
        <result column="end_points" property="endPoints"/>
        <result column="measurements" property="measurements"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        name ,
        graph_name ,
        view ,
        end_points ,
        measurements ,
        content ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="name != null">name = #{name} ,</if>
            <if test="graphName != null">graph_name = #{graphName} ,</if>
            <if test="view != null">view = #{view} ,</if>
            <if test="endPoints != null">end_points = #{endPoints} ,</if>
            <if test="measurements != null">measurements = #{measurements} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.mybatis.data.MetricScreenDO" keyProperty="id">
        INSERT INTO t_metric_screen
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_metric_screen where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_metric_screen
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_metric_screen where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.mybatis.data.MetricScreenDO">
        UPDATE t_metric_screen
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_metric_screen
    </select>

    <select id="findByNameGraph" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_metric_screen where name = #{record.name} and graph_name = #{record.graphName}
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_metric_screen where name = #{record.name}
    </select>

    <insert id="insertOrUpdateByNameGraph">
        INSERT INTO t_metric_screen(id, name, graph_name, view, end_points, measurements, content, create_time, update_time)
        values(#{record.id}, #{record.name}, #{record.graphName}, #{record.view}, #{record.endPoints}, #{record.measurements}, #{record.content}, #{record.createTime}, #{record.updateTime})
        ON DUPLICATE KEY UPDATE view = #{record.view}, end_points = #{record.endPoints}, measurements = #{record.measurements}, content = #{record.content}, update_time = NOW()
    </insert>

    <delete id="deleteByName">
        DELETE from t_metric_screen where name = #{record.name}
    </delete>

    <delete id="deleteByNameGraph">
        DELETE from t_metric_screen where name = #{record.name} and graph_name = #{record.graphName}
    </delete>

</mapper>
