<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.metric.graph.dao.MetricGraphMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.metric.graph.dao.data.MetricGraphDO">
        <result column="id" property="id"/>
        <result column="graph_id" property="graphId"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="creation_date" property="creationDate"/>
        <result column="updatetime" property="updatetime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        graph_id ,
        name ,
        content ,
        creation_date ,
        updatetime
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="graphId != null">graph_id = #{graphId} ,</if>
            <if test="name != null">name = #{name} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="creationDate != null">creation_date = #{creationDate} ,</if>
            <if test="updatetime != null">updatetime = #{updatetime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.metric.graph.dao.data.MetricGraphDO" keyProperty="id">
        INSERT INTO metric_graph
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from metric_graph where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from metric_graph
    </select>

    <delete id="deleteByPrimaryKey">
        delete from metric_graph where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.metric.graph.dao.data.MetricGraphDO">
        UPDATE metric_graph
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findByGrapId" resultMap="BaseResultMap">
        select id, graph_id, name, content, creation_date, updatetime from metric_graph where graph_id = #{record.graphId}
    </select>

    <select id="findLast" resultMap="BaseResultMap">
        select id, graph_id, name, content, creation_date, updatetime from metric_graph order by creation_date DESC limit #{record.number}
    </select>

    <delete id="deleteBeforeDate">
        DELETE from metric_graph where creation_date &lt; #{record.creationDate}
    </delete>

</mapper>