<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.metric.screen.dao.MetricScreenMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.metric.screen.dao.data.MetricScreenDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="graph_name" property="graphName"/>
        <result column="view" property="view"/>
        <result column="endPoints" property="endPoints"/>
        <result column="measurements" property="measurements"/>
        <result column="content" property="content"/>
        <result column="creation_date" property="creationDate"/>
        <result column="updatetime" property="updatetime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        name ,
        graph_name ,
        view ,
        endPoints ,
        measurements ,
        content ,
        creation_date ,
        updatetime
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="name != null">name = #{name} ,</if>
            <if test="graphName != null">graph_name = #{graphName} ,</if>
            <if test="view != null">view = #{view} ,</if>
            <if test="endPoints != null">endPoints = #{endPoints} ,</if>
            <if test="measurements != null">measurements = #{measurements} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="creationDate != null">creation_date = #{creationDate} ,</if>
            <if test="updatetime != null">updatetime = #{updatetime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.metric.screen.dao.data.MetricScreenDO" keyProperty="id">
        INSERT INTO metric_screen
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from metric_screen where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from metric_screen
    </select>

    <delete id="deleteByPrimaryKey">
        delete from metric_screen where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.metric.screen.dao.data.MetricScreenDO">
        UPDATE metric_screen
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        select id, name, graph_name, view, endPoints, measurements, content, creation_date, updatetime from metric_screen
    </select>

    <select id="findByNameGraph" resultMap="BaseResultMap">
        select id, name, graph_name, view, endPoints, measurements, content, creation_date, updatetime from metric_screen where name = #{record.name} and graph_name = #{record.graphName}
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        select id, name, graph_name, view, endPoints, measurements, content, creation_date, updatetime from metric_screen where name = #{record.name}
    </select>

    <insert id="insertOrUpdateByNameGraph">
        INSERT INTO metric_screen(id, name, graph_name, view, endPoints, measurements, content, creation_date, updatetime)
        values(#{record.id}, #{record.name}, #{record.graphName}, #{record.view}, #{record.endPoints}, #{record.measurements}, #{record.content}, #{record.creationDate}, #{record.updatetime})
        ON DUPLICATE KEY UPDATE view = #{record.view}, endPoints = #{record.endPoints}, measurements = #{record.measurements}, content = #{record.content}
    </insert>

    <delete id="deleteByName">
        DELETE from metric_screen where name = #{record.name}
    </delete>

    <delete id="deleteByNameGraph">
        DELETE from metric_screen where name = #{record.name} and graph_name = #{record.graphName}
    </delete>

</mapper>