<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.metric.graph.dao.MetricGraphMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.metric.graph.dao.data.MetricGraphDO">
        <result column="id" property="id"/>
        <result column="graph_id" property="graphId"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        graph_id ,
        name ,
        content ,
        create_time ,
        update_time
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="graphId != null">graph_id = #{graphId} ,</if>
            <if test="name != null">name = #{name} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="createTime != null">create_time = #{createTime} ,</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.metric.graph.dao.data.MetricGraphDO" keyProperty="id">
        INSERT INTO t_metric_graph
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_metric_graph where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_metric_graph
    </select>

    <delete id="deleteByPrimaryKey">
        delete from t_metric_graph where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.metric.graph.dao.data.MetricGraphDO">
        UPDATE t_metric_graph
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findByGrapId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_metric_graph where graph_id = #{record.graphId}
    </select>

    <select id="findLast" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_metric_graph order by create_time DESC limit #{record.number}
    </select>

    <delete id="deleteBeforeDate">
        DELETE from t_metric_graph where create_time &lt; #{record.createTime}
    </delete>

</mapper>
