<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.overload.dao.OverloadMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.overload.dao.data.OverloadDO">
        <result column="id" property="id"/>
        <result column="report_id" property="reportId"/>
        <result column="report_type" property="reportType"/>
        <result column="report_size" property="reportSize"/>
        <result column="period" property="period"/>
        <result column="creation_date" property="creationDate"/>
        <result column="max_id" property="maxId"/>
        <result column="count" property="count"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        report_id ,
        report_type ,
        report_size ,
        period ,
        creation_date
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="reportId != null">report_id = #{reportId} ,</if>
            <if test="reportType != null">report_type = #{reportType} ,</if>
            <if test="reportSize != null">report_size = #{reportSize} ,</if>
            <if test="period != null">period = #{period} ,</if>
            <if test="creationDate != null">creation_date = #{creationDate}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.overload.dao.data.OverloadDO" keyProperty="id">
        INSERT INTO overload
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from overload where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from overload
    </select>

    <delete id="deleteByPrimaryKey">
        delete from overload where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.overload.dao.data.OverloadDO">
        UPDATE overload
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findMaxIdByType" resultMap="BaseResultMap">
        select id, report_id, report_type, report_size, period, creation_date, max(report_id) AS max_id, count(*) AS count from overload where report_type = #{record.type}
    </select>

    <select id="findCount" resultMap="BaseResultMap">
        select id, report_id, report_type, report_size, period, creation_date, max(report_id) AS max_id, count(*) AS count from overload
    </select>

    <select id="findIdAndSizeByDuration" resultMap="BaseResultMap">
        select id, report_id, report_type, report_size, period, creation_date, max(report_id) AS max_id, count(*) AS count from overload where period >= #{record.startTime} and period &lt;= #{record.endTime} order by period DESC, report_type ASC
    </select>

</mapper>