<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.topologygraph.dao.TopologyGraphMapper">
    <resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.topologygraph.dao.data.TopologyGraphDO">
        <result column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="period" property="period"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="creation_date" property="creationDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,
        ip ,
        period ,
        type ,
        content ,
        creation_date
    </sql>

    <sql id="setField">
        <set>
            <if test="id != null">id = #{id} ,</if>
            <if test="ip != null">ip = #{ip} ,</if>
            <if test="period != null">period = #{period} ,</if>
            <if test="type != null">type = #{type} ,</if>
            <if test="content != null">content = #{content} ,</if>
            <if test="creationDate != null">creation_date = #{creationDate}</if>
        </set>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.dianping.cat.core.mybatis.topologygraph.dao.data.TopologyGraphDO" keyProperty="id">
        INSERT INTO topologyGraph
        <include refid="setField"/>
    </insert>

    <select id="findByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from topologyGraph where id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from topologyGraph
    </select>

    <delete id="deleteByPrimaryKey">
        delete from topologyGraph where id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.topologygraph.dao.data.TopologyGraphDO">
        UPDATE topologyGraph
        <include refid="setField"/>
        WHERE id = #{id}
    </update>

    <select id="findByPeriod" resultMap="BaseResultMap">
        select id, ip, period, type, content, creation_date from topologyGraph where period = #{record.period}
    </select>

</mapper>