<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.cat.core.mybatis.generated.alert.dao.AlertMapper">

	<resultMap id="BaseResultMap" type="com.dianping.cat.core.mybatis.generated.alert.dao.data.AlertDO">
		<id column="id" property="id"/>
		<result column="domain" property="domain"/>
		<result column="alert_time" property="alertTime"/>
		<result column="category" property="category"/>
		<result column="type" property="type"/>
		<result column="content" property="content"/>
		<result column="metric" property="metric"/>
		<result column="creation_date" property="creationDate"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		domain,
		alert_time,
		category,
		type,
		content,
		metric,
		creation_date
	</sql>

	<insert id="insert" parameterType="com.dianping.cat.core.mybatis.generated.alert.dao.data.AlertDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO alert
			(domain, alert_time, category, type, content, metric, creation_date)
		VALUES
			(#{domain}, #{alertTime}, #{category}, #{type}, #{content}, #{metric}, #{creationDate})
	</insert>

	<select id="findByPrimaryKey" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM alert
		WHERE id = #{id}
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM alert
	</select>

	<delete id="deleteByPrimaryKey">
		DELETE FROM alert
		WHERE id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.dianping.cat.core.mybatis.generated.alert.dao.data.AlertDO">
		UPDATE alert
		SET domain = #{domain},
			alert_time = #{alertTime},
			category = #{category},
			type = #{type},
			content = #{content},
			metric = #{metric},
			creation_date = #{creationDate}
		WHERE id = #{id}
	</update>

	<select id="queryAlertsByTimeDomain" resultMap="BaseResultMap">
		SELECT id, domain, alert_time, category, type, content, metric, creation_date FROM alert WHERE alert_time >= #{record.startTime} AND alert_time <= #{record.endTime} <if test="record.domain != null"> AND domain = #{record.domain} </if> ORDER BY alert_time desc
	</select>

	<select id="queryAlertsByTimeDomainCategories" resultMap="BaseResultMap">
		SELECT id, domain, alert_time, category, type, content, metric, creation_date FROM alert WHERE alert_time >= #{record.startTime} AND alert_time <= #{record.endTime} <if test="record.domain != null"> AND domain = #{record.domain} </if> AND category in <foreach collection="record.categories" item="item" open="(" close=")" separator=",">#{item}</foreach> ORDER BY alert_time desc
	</select>

	<select id="queryAlertsByTimeCategoryDomain" resultMap="BaseResultMap">
		SELECT id, domain, alert_time, category, type, content, metric, creation_date FROM alert WHERE alert_time >= #{record.startTime} AND alert_time <= #{record.endTime} <if test="record.category != null"> AND category = #{record.category} </if> <if test="record.domain != null"> AND domain = #{record.domain} </if> ORDER BY alert_time asc
	</select>

	<select id="queryAlertsByTimeCategory" resultMap="BaseResultMap">
		SELECT id, domain, alert_time, category, type, content, metric, creation_date FROM alert WHERE alert_time >= #{record.startTime} AND alert_time <= #{record.endTime} <if test="record.category != null"> AND category = #{record.category} </if> ORDER BY alert_time asc
	</select>
</mapper>
